.user-profile-container {
  display: flex;
}

.left-section {
  width: 60px;
  background-color: #f5f5f5;
  padding: 20px;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
}

.left-section.expanded {
  width: 200px;
}

.left-section:hover .icon-name {
  display: block;
}

.dashboard-section,
.pages-section {
  margin-bottom: 20px;
}

.dashboard{
  position: relative;
}
.dashboard-title {
  position: relative;
  padding-top: 5rem;
  margin-bottom: 10px;
}

.dashboard-title:hover {
  margin-bottom: 10px;
  height: 20px;
  background-color: #f0f0f0;
}

.dashboard-title:hover + .dashboard-title {
  display: block;
}

.dashboard-icons,
.pages-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dashboard-icons li,
.pages-icons li {
  margin-bottom: 10px;
  padding-top: 10px;
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ce1312;
  color: #fff;
  cursor: pointer;
  transition: width 0.3s ease-in-out;
}

.icon.selected {
  width: 40px; /* Set the width back to the initial value */
}

.icon-name {
  position: absolute;
  top: 50%;
  left: calc(100% + 10px);
  transform: translateY(-50%);
  white-space: nowrap;
  display: none;
  padding: 5px;
  background-color: #cc3636;
  color: #000000;
  font-size: 12px;
  border-radius: 8px;
}

.icon:hover .icon-name {
  display: block;
}

.right-section {
  flex-grow: 1;
  background-color: #ffffff;
  padding: 20px;
  padding-top: 100px;
  padding-left: 50px;
}

.right-section p {
  text-align: center;
  font-size: 24px;
}

/****Pages****/

/****End Pages****/



@media (max-width: 768px) {
  .user-profile-container {
    flex-direction: column;
  }

  .left-section {
    width: 100%;
  }
}

.booking-rows-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; 
}

.booking-rows {
  display: flex;
  margin-bottom: 10px;
}

.booking-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}

.booking-details {
  display: flex;
  flex-direction: column;
}

.booking-row h3,
.booking-row p {
  margin: 0;
}

/**************Booking Modal *************/
.booking-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15cm;
  height: 15cm;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}


.booking-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 15cm;
  height: 15cm;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.left-column {
  display: flex;
  flex-direction: column;
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.left-column h3,
.right-column h3 {
  margin-bottom: 20px;
}

.booking-info-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.booking-modal-tour-image {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.booking-modal-tour-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.tour-details {
  display: flex;
  flex-direction: column;
}

.payment-options-row {
  margin-bottom: 20px;
}

.payment-icons {
  display: flex;
  gap: 10px;
}

.payment-info-row {
  padding: auto;
}

.promo-code-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.promo-code-row label {
  margin-right: 10px;
}

.subtotal-row,
.taxes-row,
.grand-total-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.pay-now-button {
  margin-top: 20px;
}

.close-icon {
  padding: auto;
}

/*************End Booking modal *************/
